@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,700&family=Poppins:ital,wght@0,300;1,200;1,400&display=swap');
*{
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.container {
  width: 100%;
  margin: auto;
  background-color: rgb(0, 0, 0);
  text-align: center;
  min-height: 100vh;

}
.category{
  padding: 10px 20px;
}
